@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --quicksand: "Quicksand", serif;
  --max-width: 1300px;
  --orange: rgb(254, 163, 1);
  --sky-blue: rgb(1, 172, 253);
  --green: rgb(93, 88, 239);
  --gray-skyblue: rgb(5, 212, 223);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--quicksand);
}

.container {
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  padding: 0 5%;
}
.none {
  display: none;
}
marquee {
  color: var(--green);
  font-size: 20px;
  font-weight: 500;
}
.btn {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-family: var(--quicksand);
  font-size: 20px;
  font-weight: 600;
  width: 190px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange);
  border-radius: 12px;
  letter-spacing: 2px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.nav-logo {
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}
.nav-logo h2 {
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
}
.nav-logo img {
  width: 70px;
  height: auto;
  object-fit: cover;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-list li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
a.link1 {
  color: var(--orange);
}
a.link2 {
  color: var(--sky-blue);
}
a.link3 {
  color: var(--gray-skyblue);
}
a.link4 {
  color: var(--green);
}
.hamburger-menu {
  display: none;
}
.hamburger-menu i {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: black;
}

/* Hero css  */
.hero-content {
  display: flex;
  align-items: center;
  gap: 4rem;
}
.hero-left {
  flex: 1;
}
.hero-left h2 {
  font-size: 56px;
  font-weight: 700;
}

.hero-left p {
  color: rgb(17, 17, 17);
  font-size: 20px;
  font-weight: 400;
}
.hero-left h2::first-line {
  color: var(--orange);
}
.hero-left h2 span {
  color: var(--sky-blue);
}
.hero-left p {
  color: rgb(17, 17, 17);
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
}
.hero-left button {
  width: 197px;
  height: 50px;
  border-radius: 12px;
  background: rgb(17, 17, 17);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 13px;
}
.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-img {
  text-align: center;
}
.hero-img img {
  width: 80%;
}

/* Curriculam CSS  */
.curriculam {
  margin: 100px 0;
}
.curriculam-content h2 {
  color: rgb(0, 0, 0);
  font-size: 46px;
  font-weight: 700;
  text-align: center;
}
.curriculam-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 70px;
}
.curriculam-cards .card {
  border: 0.94px solid rgb(222, 245, 255);
  border-radius: 18.86px;
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(222, 245, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
  padding: 64px;
  text-align: center;
}
.curriculam-cards .card:nth-of-type(2) {
  border: 0.94px solid rgb(255, 244, 220);
  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(255, 244, 220),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.curriculam-cards .card:nth-of-type(3) {
  box-sizing: border-box;
  border: 0.94px solid rgb(242, 232, 255);
  border-radius: 18.86px;

  box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
  background: linear-gradient(
      180deg,
      rgb(238, 225, 255),
      rgba(255, 255, 255, 0) 40%
    ),
    rgb(255, 255, 255);
}
.curriculam-cards .card h3 {
  color: rgb(32, 32, 32);
  font-size: 24.52px;
  font-weight: 700;
  margin: 20px 0;
}
.curriculam-cards .card p {
  color: rgb(128, 128, 128);
  font-family: "Raleway", serif;
  font-size: 15px;
  font-weight: 500;
}
.curriculam-cards .card button {
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: rgb(100, 200, 255);
  font-family: var(--quicksand);
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
}
.card .card-image {
  width: 130px;
  height: 130px;
  margin: auto;
}
.card .card-image img {
  width: 100%;
  height: auto;
}
.arrow-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 70px;
}
.arrow-btns i {
  cursor: pointer;
  background-color: var(--orange);
  font-weight: 500;
  font-size: 30px;
  color: #fff;
  border-radius: 30px;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Stories Section  */
.sotories {
  padding: 100px 0;
  background: url(./assets/bg.png),
    linear-gradient(0deg, rgba(254, 163, 1, 0.3), rgba(255, 255, 255, 0.3) 100%);
}
.stories-content h2 {
  text-align: center;
  margin-bottom: 30px;
  color: rgb(0, 0, 0);
  font-size: 55px;
  font-weight: 700;
}
.stories-colum {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2rem;
}
.sotories-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}
.sotories-left {
  height: 637px;
  width: 540px;
  border-radius: 16px;
  background: rgb(255, 255, 255);
}

.sotories-left .stories-image > button {
  width: 230px;
  font-size: 20px;
  font-weight: 600;
  padding: 15px;
  transform: translate(-50%, 33px);
  background-color: #3cd8e8;
  color: black;
}
.stories-image {
  height: 330px;
  text-align: center;
  position: relative;
}
.stories-image img {
  width: 100%;
  height: auto;
  border-radius: 16px 16px 0 0;
  object-fit: cover;
}
.stories-image button {
  position: absolute;
  color: #fff;
  width: 170px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 40px;
  background-color: #95b226;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 19px);
}
.stories-image-content {
  padding: 40px;
}
.stories-image-content h4 {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  margin: 40px 0;
}
.stories-image-content p {
  color: rgb(102, 102, 102);
  font-family: Raleway;
  font-size: 15.34px;
  font-weight: 500;
  margin: 20px 0;
}
.stories-btn {
  position: relative;
  transform: translatey(-200px);
  display: none;
}

/* 11111111111 */
.sotories-left1 {
  height: 300px;
  border-radius: 16px;
  background: rgb(255, 255, 255);
}
.sotories-left1 .stories-image {
  height: 170px;
}

.sotories-left1 .stories-image-content p {
  color: rgb(0, 0, 0);
  font-size: 15.34px;
  font-weight: 700;
  padding: 20px;
}
.sotories-left1 .stories-image-content {
  padding: 10px;
  height: 337px;
}

.view-all {
  border-radius: 12px;
  background: rgb(17, 17, 17);
  text-align: center;
  margin: 50px auto 0;
}
/* Footer Section  */
footer {
  background-color: var(--sky-blue);
  padding: 160px 0;
  margin-top: 100px;
}
.footer-colum {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 6rem;
}
.colum-1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.colum-1 .footer-logo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer-logo h2 {
  color: rgb(255, 255, 255);
  font-size: 42.14px;
  font-weight: 800;
}

.colum-1 p {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  margin-top: 30px;
}
.colum-2 h2 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 700;
}
.colum-2 ul {
  list-style: none;
  margin-top: 20px;
}
.colum-2 ul li {
  color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 5px 0;
  font-weight: 500;
}
.colum-3 h2 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 700;
}
.social-links {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-links i {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  background: rgb(59, 89, 152);
  color: rgb(255, 255, 255);
  font-family: Font Awesome 5 Brands;
  font-size: 20px;
  font-weight: 400;
}
.social-links i:nth-of-type(2) {
  background-color: rgb(234, 76, 137);
}
.social-links i:nth-of-type(3) {
  background-color: rgb(29, 161, 242);
}
.social-links i:nth-of-type(4) {
  background-color: rgb(221, 75, 57);
}
@media only screen and (max-width: 576px) {
  .container {
    padding: 0 3%;
  }
  header {
    overflow: hidden;
  }
  nav {
    position: relative;
  }
  nav::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    background-color: rgb(254, 163, 1);
    width: 200%;
    transform: translate(-100px);
  }
  .nav-logo h2 {
    font-size: 28px;
  }
  .hamburger-menu {
    display: block;
  }
  .contact-btn {
    display: none;
  }
  .nav-list {
    display: none;
  }

  .nav-logo {
    gap: 6px;
  }
  .nav-logo img {
    width: 30%;
  }

  /* Hero section responsive  */
  .hero-content {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .hero-left {
    text-align: center;
  }
  .hero-left h2 {
    font-size: 40px;
  }
  .hero-left p {
    font-size: 18px;
    font-weight: 400;
  }
  .hero-left button {
    margin-top: 10px;
  }
  .hero-img img {
    width: 80%;
    margin-top: 20px;
  }
  /* Curriclam responsive CSS  */
  .curriculam-cards {
    grid-template-columns: 1fr;
  }
  .curriculam-cards .card {
    padding: 60px 30px;
  }
  .card .card-image {
    width: 100px;
    height: 100px;
    margin: auto;
  }
  .curriculam-cards .card h3 {
    font-size: 22.52px;
    font-weight: 700;
    margin: 15px 0;
  }
  .curriculam-cards .card p {
    font-weight: 500;
  }
  .curriculam-cards .card button {
    margin-top: 13px;
  }
  .arrow-btns {
    display: none;
  }

  footer {
    padding: 100px 0;
    margin-top: 80px;
  }
  .footer-colum {
    grid-template-columns: 1fr;
  }
  .colum-1 {
    /* grid-column-start: 1; */
    grid-column-end: 2;
  }
  .colum-1 .footer-logo {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .footer-logo h2 {
    font-size: 28.14px;
  }
  .colum-1 p {
    font-size: 16px;
    margin-top: 15px;
  }
  .colum-2 h2 {
    font-size: 24px;
    margin-top: 25px;
  }
  .colum-2 ul {
    margin-top: 8px;
  }
  .colum-2 ul li {
    font-size: 16px;
    padding: 3px 0;
  }
  .colum-3 h2 {
    margin-top: 25px;
    font-size: 24px;
  }
  .social-links {
    margin-top: 20px;
    justify-content: flex-start;
    gap: 10px;
  }
  .social-links i {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 4px;
    background: rgb(59, 89, 152);
    color: rgb(255, 255, 255);
    font-family: Font Awesome 5 Brands;
    font-size: 20px;
    font-weight: 400;
  }
  .sotories {
    padding: 50px 0;
  }
  .stories-hide {
    display: none;
  }
  .stories-content h2 {
    font-size: 3rem;
  }
  .sotories-right {
    grid-row-gap: 1rem;
  }
  .stories-colum {
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
    align-content: center;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  .sotories-left1 {
    width: 100%;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    height: auto;
  }
  .sotories-left1 .stories-image-content {
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .sotories-left1 .stories-image-content p {
    color: rgb(0, 0, 0);
    font-size: 14.34px;
    font-weight: 500;
    padding: 10px;
  }
  .stories-image {
    height: fit-content;
  }
  .sotories-left1 .stories-image {
    height: auto;
  }
}

@media only screen and (width < 400px) {
  .stories-image button {
    width: 150px;
    font-size: 13px;
    font-weight: 600;
    transform: translate(-50%, 15px);
  }
  .stories-image-content p {
    margin: 15px 0;
  }
}
